/* Media query for smaller screens */
/* @media screen and (max-width: 600px) {
    nav ul {
        display: none;
        /* Hide the list of links on smaller screens */


.hamburger {
    display: block;
    /* Display the hamburger menu icon */
    float: right;
    /* Float the hamburger menu icon to the right */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

/* Show the links when the hamburger menu is clicked */
.links.show {
    display: block;
}

*/

/* Styling for the banner */
.banne {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f30909;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 9999;
}

/* Styling for the close button */
.close-btn {
    float: right;
    cursor: pointer;
    color: #fff;
}

.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px);
    /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%);
    /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

#close {
    /* float: right; */
    display: inline-block;
    padding: 2px 5px;
    background: #3908b5;
    color: white;
}

#close:hover {
    /* float: right; */
    display: inline-block;
    padding: 2px 5px;
    background: #e53007;
    color: #fff;
}

/* Center the .highest-temp container */
.highest-temp {
    /* position: fixed; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* #hamburger-menu {
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    background: linear-gradient(to bottom, #3D0E61, white 20%, white 40%, #3D0E61 60%, white 80%, #3D0E61 100%);
} */

/* Hide the menu initially */
#sidebar-menu {
    position: absolute;
    top: -1000px;
    /* Other styling properties */
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #038c5a;
}