/* Default styles for navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    /* Hide overflowing content */
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.hamburger {
    display: none;
    /* Hide the hamburger menu by default */
}