body {
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(17, 125, 234);
}

h1 {
    color: white;
}

/* #mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
} */

header {
    background-color: rgb(41, 4, 188);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: white;
}

.open li {
    display: block;
}

#menu {

    position: absolute;
    background: none;
    color: white;
    margin: 5px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "☑️";
}

nav ul {
    /* set everything to zero so you can make it how you like*/
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    border: 2px solid rgb(41, 4, 188);
    margin: 10px;
    background-color: rgb(41, 4, 188);
    display: none;
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

/*hero-image*/
.hero-image {
    display: grid;
    place-items: center;
    max-width: 400px;
    width: 100%;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-image h2 {
    position: absolute;
    padding: 8px;
    background-color: #0D1B2A;
    color: white;
    border: 2px solid white;
}

.hero-image h2:hover {
    background-color: white;
    color: #0D1B2A;
    border: 2px solid #0D1B2A;
}

/*hero-image*/
footer {
    background-color: rgb(41, 4, 188);
    color: white;
    text-align: center;
}


nav li:hover {
    color: white;

}

/* main {
    background-color: rgb(17, 125, 234);
    color: white;
} */