@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Pathway+Extreme&display=swap');


.img {
    height: 200px;
    width: 200px;
    /* grid-template-columns: repeat(4, 1fr); */


}

main {
    font: bruno+Ace;
    font-size: x-large;
    color: white;
    background-color: #001242;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, .5fr);
    justify-items: center;
}

main h2 {
    border-bottom-style: solid;
    grid-column: 2/4;
    text-align: center;

}

nav {
    color: white;
    background-color: rgb(17, 232, 32);
    display: grid;
    font-size: x-large;

}

nav a:hover {
    background-color: #ffffff;
    color: #001242;
    text-decoration: none;

}

.card {
    grid-column: 2/4;
}

.card h3 {
    text-align: center;
    background-color: blue;
}

#content {
    max-width: 1600px;
    margin: 0 auto;

}