@media screen and (min-width: 37.5em) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* display: grid;

        grid-template-columns: repeat(3, 1fr);

        grid-auto-rows: auto;

        grid-gap: 1rem; */
    }

    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }
}