@media screen and (min-width:1000px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* display: grid;

        grid-template-columns: repeat(3, 1fr);

        grid-auto-rows: auto;

        grid-gap: 1rem; */
    }
}